<p id="notice"><%= notice %></p>

<p>
  <strong>Drug name:</strong>
  <%= @vaccination.drug_name %>
</p>

<p>
  <strong>Dosage in ml:</strong>
  <%= @vaccination.dosage_in_ml %>
</p>

<p>
  <strong>Pet:</strong>
  <%= @vaccination.pet_id %>
</p>

<p>
  <strong>Administered on:</strong>
  <%= @vaccination.administered_on %>
</p>

<%= link_to 'Edit', edit_vaccination_path(@vaccination) %> |
<%= link_to 'Back', vaccinations_path %>
