<h1>Pets @ VetCorp</h1>

<table>
  <tbody>
    <% @pets.each do |pet| %>
      <tr>
        <td><%= link_to "#{pet.name}", pet_path(id: pet.id) %></td>
        <td><%= link_to "Edit", edit_pet_path(id: pet.id) %></td>
        <td><%= link_to "DESTROY!", pet_path(id: pet.id), method: :delete %></td>
        <td>
          <%= pet.last_visit_on %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- Rails form_tag helper  -->
<%= form_tag("/pets", class: "") do  %>
    <%# email_field_tag "pet[email]" %>
    <!-- Rails text_field_tag helper -->
    <%= text_field_tag "pet[name]" %>
    <%= submit_tag %>
<% end %>

<!-- Plain HTML Form -->
<!--
<form action="/pets" method="post">
  <input type="text" name="pet[name]" value="">
  <input type="submit" name="submit" value="Save">
</form>
-->
